<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.simplebbs.article.ArticleMapper">

    <!-- Article와 Comment를 조인하여 조회하는 SQL -->
    <select id="getArticleById" resultMap="ArticleResultMap" parameterType="long">
        SELECT
        a.id AS article_id, a.subject, a.author, a.user_id, a.contents, a.created_at,
        c.id AS comment_id, c.article_id AS comment_article_id, c.author AS comment_author, c.user_id AS
        comment_user_id, c.content AS
        comment_content, c.created_at AS
        comment_created_at
        FROM article a
        LEFT JOIN comment c ON a.id = c.article_id
        WHERE a.id = #{id}
    </select>

    <!-- Article와 연관된 Comment들을 매핑하는 ResultMap -->
    <resultMap id="ArticleResultMap" type="com.example.simplebbs.article.Article">
        <id property="id" column="article_id"/>
        <result property="subject" column="subject"/>
        <result property="contents" column="contents"/>
        <result property="author" column="author"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="created_at"/>
        <collection property="comments" ofType="com.example.simplebbs.article.Comment" columnPrefix="comment_">
            <id property="id" column="comment_id"/>
            <result property="articleId" column="comment_article_id"/>
            <result property="userId" column="comment_user_id"/>
            <result property="author" column="comment_author"/>
            <result property="content" column="comment_content"/>
            <result property="createdAt" column="comment_created_at"/>
        </collection>
    </resultMap>

</mapper>
